<div class="page_container">
  <div class="dashboard">
    <div class="description">
      <p>Welcome to<strong> Robert & Romane's</strong> community. Robert & Romane connects students to senior citizens who need transportation, house help, technology lessons, companionship and other senior services.
      Reach out if you have any question!
      </p>
    </div>
    <h3 class="title_1"> <%=@student.name + "'s dashboard" if @student.name%> </h3>

    <div class="calendar">

      <h4 style ="text-align: center">Your calendar</h4>
      <div class="flex " id="center" >
        <p class = "no-margin-bottom" id = "number"><%=@student.working_days.to_s %></p>
        <p class=" no-margin-bottom  padding-left"> working days</p>
        <i class="far fa-calendar-alt no-margin-bottom padding-left" style="font-size: 25px; opacity:unset;"></i>
      </div>
      <p><%= "You are available " + @student.working_days.to_s + " days to complete missions" %></p>
    </div>
    <div class="reviews-dashboard">
    <h4 style ="text-align: center">Your reviews</h4>
      <div class="flex " id="center" >
        <p class = "no-margin-bottom" id = "number"><%=@student.top_reviews.to_s %></p>
        <p class=" no-margin-bottom  padding-left"> top reviews </p>
        <i class=" fas fa-star no-margin-bottom padding-left"style="font-size: 25px; opacity:unset;"></i>
      </div>
      <p><%= "You have " + @student.top_reviews.to_s + " top reviews (5 stars), good job!" %></p>

    </div>
    <div class="facilities-dashboard">
      <div class="body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url(<%= @student.favorite_facilities.last.facility.photo  unless @student.favorite_facilities == [] %>); background-size:cover;">
      </div>
      <div class="footer">
        <h4 style ="text-align: center"><%= @student.favorite_facilities.last.facility.name unless @student.favorite_facilities == [] %></h4>
      </div>
    </div>

    <h3 class="title_2"> Earnings and Activity </h3>

    <div class="earnings">
      <h4 style ="text-align: center">Your revenues</h4>
      <div class="flex padd" id="center" >
      <p class = "no-margin-bottom" id = "number"><%=@sum_2018.to_s %></p>
      <i class=" fas fa-euro-sign no-margin-bottom padding-left" style="font-size: 25px; opacity:unset"></i>
      </div>


<!--           <div class ="chart"><%= pie_chart({"Earned" => @sum_received, "Upcoming" => @sum_not_received}, donut: true, legend: "left", width: "150px") %>
          </div> -->
        </div>
    <div class="jobs">
      <div class="completed">
        <p class = "no-margin-bottom" id = "number"><%=@student.completed_missions.size.to_s %></p>
        <p>completed missions</p>

      </div>
      <div class="upcoming">
        <p class = "no-margin-bottom" id = "number"><%=@student.upcoming_missions.size.to_s %></p>
        <p>upcoming missions</p>
      </div>
    </div>
    <div class="notifications" >
    <h4>Notifications</h4>

    </div>
  </div>
</div>
