


<div class="page_container">
  <h1>Job offers</h1>
  <div class="headers">
    <h4><strong><%= "(" + @missions.size.to_s + ") Browse" %></strong></h4>
    <h4><%=link_to"(#{@student.upcoming_missions.size}) Upcoming", dashboard_missions_upcoming_path %></h4>
    <h4><%=link_to "(#{@student.completed_missions.size}) Completed", dashboard_missions_completed_path %></h4>
  </div>

  <div class="mission_container">
    <% @missions.each do |mission| %>
      <div class="mission" data-mission-id="mission-<%= mission.id%>">
        <div class="left">
          <div class="schedule">
            <p class="date"><%= mission.schedule.split("from")[0] %></p>
            <p class="time"><%= mission.schedule.split("from")[1] %></p>
          </div>
          <p></p>
        </div>
        <div class="center">
          <p class="facility-name"><%= mission.senior.facility.name%></p>
          <p><%= mission.description %></p>
        </div>
        <div class="right">
          <%= link_to accept_fit_path(mission) , method: :post, remote: true do %>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-sm">Accept</button>
          <% end %>

          <%= link_to refuse_fit_path(mission) , method: :post, remote: true do %>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bd-example-modal-sms">Decline</button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

                <!-- For the pop-up accept mission -->
                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-body">
                    Mission accepted
                  </div>
                </div>
              </div>

               <div class="modal fade bd-example-modal-sms" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-body">
                    Mission declined
                  </div>
                </div>
              </div>
