<div class="page_container">

    <div class="reviews" id = "flex">
      <div class="review-top">
        <h4>Global Evaluation</h4>
        <div class="flex" style="justify-content: center">
          <% @student.evaluation.times do %>
            <i class="fas fa-star"></i>
          <%end%>
        </div>
      </div>
      <div class="commentaires">
        <h4><%= @student.total_reviews %></h4>
        <h4>Total Reviews</h4>
      </div>
      <div class="etoiles">
        <h4> <%= @student.top_reviews %> </h4>
        <h4>Stars Reviews </h4>
      </div>
    </div>

  <div class="reviews">
    <% @student.fits.each do |fit|%>
      <div class="review" id= "border-bottom">

        <div class="summary">
          <h4 style="letter-spacing: 2px; font-weight: 600"><strong> <%= fit.mission.senior.facility.name %></strong></h4>
          <p style= "font-style: italic; font-weight: lighter"> <%= fit.mission.schedule %> </p>
          <p style="margin-bottom: 10px"> <%= fit.mission.description %> </p>
          <% fit.mission.average_rating.times do  %>
            <i class="fas fa-star"></i>
          <%end%>
        </div>
         <div class="divider"></div>
        <div class="comments">
          <h6> General comment</h6>
          <p><%= fit.mission.review_comment %></p>
        </div>
        <div class="ponctuality">
          <h6> Ponctuality</h6>
           <% fit.mission.review_ponctuality.times do  %>
            <i class="fas fa-star"></i>
          <%end%>
        </div>
        <div class="communication">
          <h6> Communication</h6>
           <% fit.mission.review_communication.times do  %>
            <i class="fas fa-star"></i>
          <%end%>

        </div>
        <div class="satisfaction">
          <h6> Satisfaction></h6>
           <% fit.mission.review_satisfaction.times do  %>
            <i class="fas fa-star"></i>
          <%end%>
        </div>
      </div>
    <%end%>
  </div>
</div>
