
<%= link_to facility_add_path(facility: facility.id), remote: true do %>
  <% if facility.photo %>
      <div class="card card-facility" data-target="facility-<%= facility.id %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path facility.photo.url, height: 300, width: 400, crop: :fill %>'); width: 300Px;" >
  <% else %>
      <div class="card card-facility" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('https://cdn.someecards.com/posts/grandpa-grandson-birth-text-ok-pIq.png')">
  <% end %>
      <div class="card-category">facility.name</div>
        <div class="card-description">
          <h5><%= facility.address %></h5>
            <p><%= facility.description %></p>
        </div>
  </div>

  <% end %>
