<div style="display: flex;">
  <div class="container">
    <div class="journey">
      <p> Done with your selection? Please add your availabilities</p>
      <div class="flex" style ="justify-content: center">
        <%= link_to "Update my availabilities",calendar_path, class: "btn accept-btn"%>
        <%= link_to "Browse job offers!",dashboard_missions_path, class: "btn accept-btn"%>
        </div>
      </div>

    <div class="row">
      <% @facilities.each do |facility|%>
        <% if @facility_chose.include?(facility.id) %>
          <% chosen = true %>
        <% else %>
          <% chosen = false %>
        <% end %>
        <div class="col-xs-12 col-sm-4" id="facility-<%= facility.id %>" style="<%= chosen ? 'box-shadow: 1px 1px 10px rgba(0,0,0,0.3)' : '' %>">
        <% if chosen %>
          <%= render 'facilities/card_facility', facility: facility %>
        <%else%>
          <%= render 'facilities/other_card', facility: facility %>
        <%end%>
        </div>
      <%end%>
    </div>
  </div>
  <div
    id="map"
    style="width: 70%;
    height: 910px;"
    data-markers="<%= @markers.to_json %>"
  ></div>
</div>

  <button type="button" data-toggle="modal" id="modal-btn" data-target="#modal-accept" style="visibility:  hidden;"></button>

<!-- modal start  -->

  <div id = "modal-accept" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-body" id="MissionModal">
        Congrats! You will now receive job offers from this facility
      </div>
      <div class="buttons-modal">
        <div>
          <%= link_to "Browse job offers", dashboard_missions_path, class: "ok_button" %>
        </div>
        <div>
        <%= link_to "Update my availabilities", calendar_path, class: "ok_button" %>
        </div>
      </div>
    </div>
  </div>

<!-- modal end -->

    <%= javascript_pack_tag "map" %>
