<div class="navbar-homepage navbar-homepage" id="myNavbar">

  <a href="" class="navbar-homepage-brand">
    <img src="https://us.123rf.com/450wm/rolandtopor/rolandtopor1601/rolandtopor160100208/51668215-color-tree-roots-and-background-vector-illustration-.jpg?ver=6" alt="logo">
  </a>
  <div class="navbar-homepage-right hidden-xs hidden-sm">

    <%= link_to "Sign In", new_user_session_path, class: "navbar-homepage-item navbar-homepage-link" %>
    <a href="" class="navbar-homepage-item navbar-homepage-link">Contact us +32 123 45 67 89</a>
  </div>
</div>

<div class="banner-homepage" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://491ypr3hsc9g2jh56v8e5wwm-wpengine.netdna-ssl.com/wp-content/uploads/2018/06/woman-reading-to-the-elder-man-in-the-park-PGBJ6VR.jpg);">
  <div class="banner-homepage-content">
    <h1>Robert & Romane</h1>
    <p>Quality moments shared between students & elderlies </p>
    <%= link_to "Apply now !",new_user_session_path, class: "apply-now"%>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <h1 style="text-align: center"> <strong>Join the Robert & Romane's community</strong></h1>
    <p style="text-align: center; font-size: 25px"> and earn money on your own schedule </p>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card-added-value">
          <i class="fas fa-hand-holding-usd fa-4x" style="text-align: center"></i>
          <h3 style="text-align: center"> <strong> Earn Extra Cash</strong></h3>
          <p> Make extra money while you’re not at school . You can do as many hours as you want. Get paid weekly every Friday.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card-added-value">
          <i class="far fa-clock fa-4x" style="text-align: center"></i>
          <h3 style="text-align: center"> <strong> Work When You Can</strong></h3>
          <p> Set your own schedule. You’ll only get visit requests when available. Work mornings, afternoons, weekends or all of the above.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card-added-value">
          <i class="fas fa-tasks fa-4x" style="text-align: center"></i>
          <h3 style="text-align: center"> <strong> Improve Your Resume</strong></h3>
          <p> Working with R&R is really gratifying and fun. Improve your resume with experience in social work and assisting the elderly.</p>
        </div>
      </div>
    </div>
    <%= link_to "Apply now !",new_user_session_path, class: "apply-now"%>
  </div>
</div>

<div class="wrapper">
  <div class="container" >
    <h1 style="text-align: center"> <strong>Services you will provide as an R&R's member</strong></h1>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(https://491ypr3hsc9g2jh56v8e5wwm-wpengine.netdna-ssl.com/wp-content/uploads/2017/10/other-papa.jpg)">
              <div class="carousel-caption d-none d-md-block">
                <h5><strong>House Help</strong></h5>
                <p>Help our senior members around the house. Help them with laundry, light cleaning, meal prep and more.</p>
              </div>
            </div>
            <div class="item" style="background-image:linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(https://aginginplace-z5jsk59bxkjskm52p5f.stackpathdns.com/wp-content/uploads/2018/10/new-tech.jpg">
              <div class="carousel-caption d-none d-md-block">
                <h5><strong> Technology </strong>.</h5>
                <p>Teach our senior members how to use a smartphone, computer, tablet and social media.</p>
              </div>
            </div>
            <div class="item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(http://www.adp-annecy.fr/images/illustration1.jpg)">
              <div class="carousel-caption d-none d-md-block">
                <h5><strong> Companionship </strong></h5>
                <p>Spend time with our senior members. Take them out to lunch, to the movies or just hang out.</p>
              </div>
            </div>
            <div class="item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(https://491ypr3hsc9g2jh56v8e5wwm-wpengine.netdna-ssl.com/wp-content/uploads/2018/03/shutterstock_752921593.jpg)">
              <div class="carousel-caption d-none d-md-block">
                  <h5><strong> Transportation </strong></h5>
                  <p>Drive our senior members to the doctor’s, airport or to work; providing an amazing social experience</p>
              </div>
            </div>
            <div class="item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(https://www.petits-fils.com/wp-content/uploads/2015/07/Aide-aux-courses-pour-une-personne-%C3%A2g%C3%A9e-%C3%A0-domicile.jpg)">
              <div class="carousel-caption d-none d-md-block">
                <h5><strong> Grocery shopping</strong></h5>
                <p>Take our senior members grocery shopping. Pick them up, take them to the store and help carry the bags.</p>
              </div>
            </div>
          </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">    </span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>
</div>

<div class="wrapper" style="background-image:linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(http://www.aobora.com/wp-content/uploads/accompagner-personne-agee.png)">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card-speciality">
           <h2 style="text-align: center"> <strong> Two Generations</strong></h2>
           <h3 style="text-align: center">A magical Experience </h3>
           <p style="text-align: center"> Robert&Romane's take a different approach on aging by connecting seniors to fun and energetic college students </p>
           <%= link_to "Apply now !",new_user_session_path, class: "apply-now"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
     <h1 style="text-align: center"> <strong>What students think of us</strong></h1>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card-testimonial">
          <img src="https://c1.staticflickr.com/4/3097/3178893181_42fa5ac4a1_b.jpg" class="alumni-picture" alt="Alumnus picture">
          <div class="testimonial-content">
          <h5> Amazing experience, great connections with elderlies... Definetely the best student job ever !</h5>
          <p> Name - Published on #date</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="show-more">Show more testimonials</a>
</div>

<div class="wrapper">
  <h1 style="text-align: center"> <strong>They hired our students</strong></h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 colm-md-4">
        <div class="card-facility-container">
          <div class="card-facility">
            <div class="card-facility-header" style="background-image: url('http://www.clicpromotion.com/Application/upload/1489392141.jpg')">
              <span class="card-facility-filter"></span>
            </div>
            <div class="card-facility-body">
              <h4> FACILITY NAME </h4>
              <p> City </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 colm-md-4">

      </div>
    </div>
  </div>
  <%= link_to "Show more facilities", dashboard_facilities_path, class: "show-more" %>>
</div>

<div class="wrapper">
  <div class="container">
    <div class="divider"></div>
      <div class="footer">
        <div class="footer-section">
          <h3> Contact us</h3>
          <p> <i class="fas fa-map-marker-alt"></i> Address </p>
          <p> <i class="fas fa-phone"></i> Phone number</p>
        </div>
        <div class="footer-section">
          <h3>Quick links</h3>
          <div class="footer-section-links">
            <a href="/">About</a>
            <a href="/">FAQ</a>
            <a href="/">Blog</a>
          </div>
        </div>
        <div class="footer-section">
          <h3>Follow us</h3>
          <div class="footer-section-links">
              <a href="/"> <i class="fab fa-twitter"></i> Twitter</a>
              <a href="/"> <i class="fab fa-facebook-square"></i> Facebook</a>
              <a href="/"> <i class="fab fa-instagram"></i> Instagram</a>
          </div>
        </div>
      </div>
  </div>
</div>
