<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

  </head>
  <body>
    <%= javascript_pack_tag 'application' %>

    <%= render 'shared/navbar' unless @disable_nav %>
    <%= render 'shared/tabs' unless @disable_nav %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%#= stylesheet_pack_tag "map" %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag "map" %>
  </body>
</html>
